# Data types and structure

# PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [1]:
# Create a string variable and assign it a name
name = "Sourav Kumar"

# Print the value of the string variable
print(name)

Sourav Kumar

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
# The original string
text = "Python Programming"

# Slice the first 3 characters using standard Python slicing
sliced_text = text[:3]

# Print the result
print(f"Original string: {text}")
print(f"First 3 characters: {sliced_text}")

Original string: Python Programming
First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
original_string = "i like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

i like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers_list = list(range(1, 6))
print(numbers_list)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
# Define the original list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the modified list
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
# my_list is now [1, 2, 4, 5]
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (which is at index 1)
second_element = my_list[1]

# Print the result
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
# Create a tuple named 'my_tuple' with elements 100, 200, 300
my_tuple = (100, 200, 300)

# Print the tuple to the console
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
user_info = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(user_info)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
user = {'name': 'John', 'age': 25}
user.update({"country": "USA"})
print(user)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
person = {'name': 'Alice', 'age': 30}
print(person.get("name"))

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
user = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del user['age']
print(user)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
# Given dictionary
data = {'name': 'Alice', 'city': 'Paris'}

# Check if key exists
if "city" in data:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
# Creating a list
my_list = [10, 20, 30, 40]

# Creating a tuple
my_tuple = (1, 2, 3, 4)

# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "Paris"
}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: (1, 2, 3, 4)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [30]:
import random

# Create a list of 5 random numbers between 1 and 100
numbers = []

for i in range(5):
    num = random.randint(1, 100)
    numbers.append(num)

# Sort the list in ascending order
numbers.sort()

# Print the result
print("Sorted List:", numbers)

Sorted List: [12, 34, 73, 74, 97]

28.  Write a code to create a list with strings and print the element at the third index.

In [32]:

fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]

# Print the element at the third index
print("Element at third index:", fruits[3])

Element at third index: Mango

29. Write a code to combine two dictionaries into one and print the result.

In [33]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

# Combine dictionaries
combined_dict = dict1 | dict2   # Python 3.9+

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [34]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
my_set = set(my_list)

# Print the result
print("Set:", my_set)

Set: {'banana', 'apple', 'cherry'}